<a href="/">Home</a> </br></br>

<a href="/shelters">Shelter Index</a>

<form action="/shelters/<%= @shelter.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Please Put In The Shelter's New Information</p>
  Name:<br/>
  <input type='text' name='shelter[name]' value="<%= @shelter.name %>"/><br/>
  Address:<br/>
  <textarea name='shelter[address]'><%= @shelter.address %></textarea><br/>
  City:<br/>
  <textarea name='shelter[city]'><%= @shelter.city %></textarea><br/>
  State:<br/>
  <textarea name='shelter[state]'><%= @shelter.state %></textarea><br/>
  Zip Code:<br/>
  <textarea name='shelter[zip]'><%= @shelter.zip %></textarea><br/>
  <input type='submit'/>
</form>
