<p id="notice"><%= notice %></p>

<a href="/shelters">Shelter Index</a> || <a href="/">Home</a> </br></br>

<p>
  <strong>Name:</strong>
  <%= @shelter.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shelter.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @shelter.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shelter.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shelter.zip %>
</p>

<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
