<a href="/">Home</a> </br>
</br>
<a href="/pets">Back</a>

<form action="/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= form_for @pet, html: { multipart: true } do |f| %>
    <% if @pet.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@pet.errors.count, "error")} prohibited this pet from being saved:" %>
        </h2>
        <ul>
          <% @pet.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>


    <p>Enter a new pet:</p>
    Name: </br>
    <input type='text' name='pet[name]'/><br/></br>
    Age: </br>
    <textarea name='pet[age]'></textarea><br/></br>
    Sex: </br>
    <textarea name='pet[sex]'></textarea><br/></br>
    Shelter ID: </br>
    <textarea name='pet[shelter_id]'></textarea><br/></br>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
  <% end %>
</form>
