<p id="notice"><%= notice %></p>

<a href="/pets">Pet Index</a> || <a href="/">Home</a> </br></br>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<div style="width:500px; height:auto">
<%= image_tag(@pet.image, style:"width:100%") %>
</div>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Shelter:</strong>
  <%= @pet.shelter_id %>
</p>

<p>
  <strong>Adoptable:</strong>
  <%= @pet.adoptable %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
